---
http_interactions:
- request:
    method: post
    uri: http://www.webservicex.net/globalweather.asmx
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.webserviceX.NET"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:GetCitiesByCountry><tns:CountryName>Germany</tns:CountryName></tns:GetCitiesByCountry></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"http://www.webserviceX.NET/GetCitiesByCountry"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"><soap:Body><GetCitiesByCountryResponse
        xmlns=\"http://www.webserviceX.NET\"><GetCitiesByCountryResult>&lt;NewDataSet&gt;\r\n
        \ &lt;Table&gt;\r\n    &lt;Country&gt;Germany&lt;/Country&gt;\r\n    &lt;City&gt;Berlin-Schoenefeld&lt;/City&gt;\r\n
        \ &lt;/Table&gt;\r\n  &lt;Table&gt;\r\n    &lt;Country&gt;Germany&lt;/Country&gt;\r\n
        \   &lt;City&gt;Dresden-Klotzsche&lt;/City&gt;\r\n  &lt;/Table&gt;\r\n  &lt;Table&gt;\r\n
        \   &lt;Country&gt;Germany&lt;/Country&gt;\r\n    &lt;City&gt;Erfurt-Bindersleben&lt;/City&gt;\r\n
        \ &lt;/Table&gt;\r\n  &lt;Table&gt;\r\n    &l[...]
