---
http_interactions:
- request:
    method: post
    uri: http://www.webservicex.net/globalweather.asmx
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.webserviceX.NET"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:GetWeather><tns:CountryName>Germany</tns:CountryName><tns:CityName>Berlin</tns:CityName></tns:GetWeather></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"http://www.webserviceX.NET/GetWeather"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"><soap:Body><GetWeatherResponse
        xmlns=\"http://www.webserviceX.NET\"><GetWeatherResult>&lt;?xml version=\"1.0\"
        encoding=\"utf-16\"?&gt;\r\n&lt;CurrentWeather&gt;\r\n  &lt;Location&gt;Berlin-Tegel,
        Germany (EDDT) 52-34N 013-19E 37M&lt;/Location&gt;\r\n  &lt;Time&gt;Aug 24,
        2013 - 11:20 PM EDT / 2013.08.25 0320 UTC&lt;/Time&gt;\r\n  &lt;Wind&gt; from
        the ENE (060 degrees) at 7 MPH (6 KT):0&lt;/Wind&gt;\r\n  &lt;Visibility&gt;
        greater than 7 mile(s):0&lt;/Visibility&gt;\r\n  &lt;Temperature&gt; 57 F
        (14 C)&lt;/Temperature&gt;\r\n  &lt;DewPoint&gt; 50 F (10 C)&lt;/DewPoint&gt;\r\n
        \ &lt;RelativeHumidity&gt; 76%&lt;/RelativeHumidity&gt;\r\n  &lt;Pressure&gt;
        29.94 in. Hg (1014 hPa)&lt;/Pressure&gt;\r\n  &lt;Status&gt;Success&lt;/Status&gt;\r\n&lt;/CurrentWeather&gt;</GetWeatherResult></GetWeatherResponse></soap:Body></soap:Envelope>"
  recorded_at: Sun, 25 Aug 2013 03:53:38 GMT
recorded_with: VCR 2.5.0
