---
http_interactions:
- request:
    method: post
    uri: http://www.webservicex.net/globalweather.asmx
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.webserviceX.NET"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:GetWeather><tns:CountryName>Germany</tns:CountryName><tns:CityName>Blah</tns:CityName></tns:GetWeather></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"http://www.webserviceX.NET/GetWeather"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetWeatherResponse
        xmlns="http://www.webserviceX.NET"><GetWeatherResult>Data Not Found</GetWeatherResult></GetWeatherResponse></soap:Body></soap:Envelope>
  recorded_at: Sun, 25 Aug 2013 03:53:36 GMT
recorded_with: VCR 2.5.0
